@media screen and (max-width: 575px) {

    .menu-section, ul{

        flex-direction: column;
    }
    .nav-section {
        width: 100%;
    }
    .logo-part{
        width: 100%;
    }
    .header-btn{
        margin-top: 20px;
    }

}