* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px;

}

/* this is primary style */
.title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.btn {
    width: auto;
    height: auto;
    padding: 21px 40px;
    border-radius: 48px;
    color: white;
    font-size: 18px;
    font-weight: 600px;
    margin-top: 20px;
    margin-right: 10px;

}

.primary-color {
    color: #F948B2;
}

.text-color {
    color: #0B0223;
}

.bg-color {
    background-color: #F948B2;
}

.bg2-color {
    background-color: #4EC5F7;
    ;
}

/* header style */
header {
    margin-bottom: 80px;
}

.nav-section {
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

.menu-section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-part {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 50%;
}

.menu-title {
    font-size: 45px;
    font-weight: 700px;
}

.menu-bar {
    width: 100%;

}

.menu-bar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-bar ul li {
    list-style: none;
}

.menu-bar ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
    color: #3C354F;
}

.header-btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
    padding: 20px;
    font-size: 18px;
    font-weight: 500px;

}

.youtube {
    font-size: 30px;
    color: red;
}

.tiktok {
    font-size: 28px;
}

/* this is banner style */
.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 50%;


}

.banner-img {
    width: 90%;

}

.banner li {
    list-style: none;
    margin-bottom: 5px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500px;
}


.goat {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 95px;
    font-weight: 800px;
}

/* this is onlne game */
.game-part {
    text-align: center;
    width: 80%;
    margin: 10px auto 0;

}

.online-game-section {
    margin-top: 60px;

}

.online-games {
    position: relative;
    width: fit-content;
    overflow: hidden;


}

.game-section,
.online-game-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.play-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;

}
.img-card {
    width: 100%;

}

.play-button:hover {
    backdrop-filter: blur(5px, );
    background-color: rgba(0, 0, 0, 0.48);
    border: 3px solid #F948B2;
    border-radius: 16px;
    opacity: 1;
}

.play {
    color: white;
    outline: none;
    font-size: 50px;
}

.Watch {
    margin-top: 20px;

}

/* play game style */
.plya-game-section{
    width: 80%;
    margin: 0px auto;
}
.play-game{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
    margin-top: 50px ;
    
}
.img-box-1{
    width: 100%;
    margin-top: 200px;
    
}
.img-1{
    width: 100%;
    height: 500px;
}
.img-box-2{
    width: 40%;
    position: relative;
   bottom: 200px;
   left: 350px;
}
.img-2{
    width: 100%;
}
.play-game-description{
    width: 50%;
}

/* game types */

.game-section{
    width: 80%;
    margin: auto;
}
.game-type {
    height: 500px;
    margin: auto;
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
}

.game-name {
    display: flex;
    align-items: center;
    width: 200px;
    gap: 10px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 1px solid #f948b200;
}
.game-name:hover {
    border: 1px solid #F948B2;
    border-radius: 50px;
    color: #F948B2;
}
.game-name img{
    width: 50px;
}
/* footer section */
footer {
    background-color: #0B0223;
    height: 632px;
    margin-top: 50px;
}

.footer-section {
    height: 632px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    display: flex;
    gap: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.footer-title {
    color: white;
}


.footer-menu {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.footer-menu li {
    color: white;
    font-size: 18px;
    font-weight: 600px;
    list-style: none;
}

.footer-icon {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
}
.list li {
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
    list-style: none;

}

small {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 30px;
}
